<br>
<br>
 <div class="container">
<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
  <% if @task.completed == true %>
    <i class="fa-regular fa-square-check"></i><p>this task is done!</p>
    <% else %>
    <i class="fa-regular fa-square"></i> <p>this task is not done!</p>
  <% end %>



<%= link_to edit_task_path do%>
<button type="button" class="btn btn-primary">Edit task</button>
<% end %>
<%= link_to tasks_path  do%>
<button type="button" class="btn btn-info">Back</button>
<% end %>
</div>
